@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:700);

html, body {
  background: #C5CBD1;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
background-color: rgb(214, 150, 129);}

h2 {
  color: rgb(13, 62, 105);
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

#f1{
  font-family: 'Satisfy', cursive;
color: #a53407;
  width: 3000px;
  height: 300px;
  font-size: 27px;

}

p {
  color: #a53407;
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  line-height: 1.5;
  margin: 20px;
  text-align: center;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.acc {
  margin: 90px 0;
  overflow: hidden;
  padding: 0;
}

.acc li {
  list-style-type: none;
  padding: 0;
}

.acc_ctrl {
  background: rgb(177, 169, 169);
  border: none;
  border-bottom: solid 1px #F2F2F2;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 2em;
  position: relative;
  text-align: center;
  width: 100%;
}



.acc_ctrl:after {
  background: #44596B;
  content: '';
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 14px;
}



.acc_ctrl.active h2, .acc_ctrl:focus h2 {
  position: relative;
}

.acc_panel {
  background: rgb(118, 130, 141);
  display: none;
  overflow: hidden;
}




/* ///////////////////////////////////////////////////////////////////////////// */




.circle-button {
	width: 100px;
	height: 80px;
	outline: none;
	padding: .25em;
	display: block;
	margin: .25em auto;
	cursor: pointer;
	font-size: 40px;
	border: 2px solid #232526;
	transition: all 0.4s cubic-bezier(0.4, 0.0, 0.6, 1);
	color: #009688;
  border-radius: 50%;
  font-family: 'Satisfy', cursive;

}



@keyframes rotateBlink {
  10% {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg); }
  20% {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg); }
  30% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }
  40% {
    border-width: 12px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }
  50% {
    border-width: 62px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }
  60% {
    border-width: 12px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }
  70% {
    border-width: 62px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }
  80% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }
  90% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); }
  100% {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg); } }








#button28 {
  border-top: none;
  margin-left: 890px;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-left: 2px solid #b64c23;
  border-right: 2px solid #191a61;
  background-image: linear-gradient(to left, #b64c23, #191a61), linear-gradient(to left, #b64c23, #191a61);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
  -ms-transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1); }
  #button28 span {
    background: -webkit-linear-gradient(left, #191a61, #b64c23);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
    -ms-transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.6, 1); }
  #button28:hover {
    background: transparent;
    -webkit-animation: rotateBlink 1.25s ease 1;
    -moz-animation: rotateBlink 1.25s ease 1;
    -ms-animation: rotateBlink 1.25s ease 1;
    -o-animation: rotateBlink 1.25s ease 1;
    animation: rotateBlink 1.25s ease 1;
    animation-fill-mode: forwards; }
    #button28:hover span {
      font-size: 16px;
      transform: rotateZ(-90deg);
      -webkit-transform: rotateZ(-90deg);
      -moz-transform: rotateZ(-90deg);
      -o-transform: rotateZ(-90deg);
      -ms-transform: rotateZ(-90deg); }










      /* ///////////////////////////////////////////////////////////// */


      @import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.2em;
  position: relative;
  color: rgb(100, 119, 126);
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}