<!DOCTYPE html>

<head>
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css?family=Bad+Script|Fugaz+One|Julius+Sans+One|Montserrat|Nanum+Pen+Script|Open+Sans|Russo+One|Satisfy&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
        type="text/javascript"></script>
    <link rel="stylesheet" href="/add.css">
</head>

<body>
    <div class="foo">
        <span class="letter" data-letter="S">S</span>
        <span class="letter" data-letter="u">u</span>
        <span class="letter" data-letter="b">b</span>
        <span class="letter" data-letter="m">m</span>
        <span class="letter" data-letter="i">i</span>
        <span class="letter" data-letter="t">t</span>
    </div>
    <div class="container">
        <form action="/dictionary" method="POST">
            <ul class="acc">
                <li>
                    <button class="acc_ctrl">
                        <h2>Your Word</h2>
                    </button>
                    <div class="acc_panel">
                        <input type="text" name="term" value="<%= card.term%>">
                    </div>
                </li>
                <li>
                    <button class="acc_ctrl">
                        <h2>Discribtion</h2>
                    </button>
                    <div class="acc_panel">
                        <textarea name="description" id="" cols="30" rows="10"><%- card.description%></textarea>
                    </div>
                </li>
                <li>
                    <button class="acc_ctrl">
                        <h2>Image URL</h2>
                    </button>
                    <div class="acc_panel">
                        <input type="text" name="image_url" value='<%= card.image_url%>'>
                    </div>
                </li>
                <li>
                    <button class="acc_ctrl">
                        <h2>Type Your Note </h2>
                    </button>
                    <div class="acc_panel">
                        <input type="text" name="notes" value="<%= card.notes%>">
                    </div>
                </li>
            </ul>
    </div>
    <div class="box"> <button id="ddddd"><span>Add To Your Dictionary</span></button> </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/add.js"></script>

</body>

</html>
<!-- 

<body>

        <div class="container">
                <ul class="acc">
                        <li>
                                <button class="acc_ctrl">
                                        <h2>Your Word</h2>
                                </button>
                                <div class="acc_panel">
                                        <p>Word</p>
                                </div>
                        </li>
<li>
    <button class="acc_ctrl">
        <h2>Discribtion</h2>
    </button>
    <div class="acc_panel">
        <p>discription hbvfjkddd;lhjkl;kjhjklkjhghlkjhghjkjhhkjjkvbksvb</p>
    </div>
</li>
<li>
    <button class="acc_ctrl">
        <h2>Image URL</h2>
    </button>
    <div class="acc_panel">
        <p> image </p>
    </div>
</li>
<li>
    <button class="acc_ctrl">
        <h2>Type Your Note </h2>
    </button>
    <div class="acc_panel">
        <input type="text" name="firstname" placeholder=" Type what you want to remember :)" id="f1">
    </div>
</li>
</ul>
</div>
<div class="box"> <button id="ddddd"><span>Submit</span></button> </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="java5.js"></script>
</body>

</html>
-->