<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <form action="/main" method="post">
        <input type="text" placeholder="user name">
        <select name="lang">
            <option value="eng-gb">english-british</option>
            <option value="hi">hindi</option>
        </select>
        <button>Submit</button>
    </form>
</body>

</html>