<!DOCTYPE html>
<html lang="en">

<head>
    <title>LTUC Word App</title>
    <link rel="stylesheet" href="/introduction.css">
    <link
        href="https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Amatic+SC|Dancing+Script|Lobster|Modak|Pacifico|Patrick+Hand|Indie+Flower|Righteous|Yellowtail|ZCOOL+XiaoWei&display=swap"
        rel="stylesheet">
    <style>
    </style>
</head>

<body>
    <header>
        <h1>LTUC Word App</h1>
    </header>
    <main>
        <video autoplay muted loop id="vid">
            <source src="/WhatsApp Video 2019-12-04 at 15.13.11.mp4" type="video/mp4">
        </video>
        <form action="/main" method="post" id="info">
            <input type="text" placeholder="user name" id="newUser">
            <input type="submit" value="Start" id="button">
        </form>
    </main>
</body>

</html>