<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <form action="/info" method="POST">
        <label value="<%= randword%>">
            <%= randword %>
        </label>
        <button> sound </button>
        <input type="text" name="hello">
        <button type="submit">TEST</button>
    </form>
</body>

</html>