<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <header>

    </header>
    <main>
        <h1>404 <br>
            What in the heck are you typing</h1>
        <a href="/main"> Try Again </a>
    </main>
    <footer>

    </footer>
</body>

</html>